# JSON file containing WATC VPN username and password
watc_credentials.json

# PyCharm project settings folder
.idea/

# macOS Finder things
**/.DS_Store
**/._.DS_Store

# Python setup and runtime things
**/__pycache__
build/
dist/
*egg-info

# Temporary/swap files from text editors
**/*~
**/*.swp
**/._*

# GeoTIFF files
**/*.tif

# Documentation things
doc/_build/
doc/api/
